/* Variáveis */
:root {
    --pageBackground: url(../img/background.jpg);
    --cardBackground: #12c2b3;
    --buttonBackground: #065e56;
    --fontColor: #393939;
    --shadows: rgba(57, 57, 57, 0.2)
}

/* Fontes */

/* Mobile */
* {
    font-size: 14pt;
}


/* Reset */
html,
body {
    height: 100%;
    margin: 10px;
    padding: 0;
}

/* Estilos básicos */
* {
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--fontColor);
}

h1 {
    margin: 10px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(59, 57, 57);
    
}

h2 {
    margin: 0px 0px 15px 0px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

h3 {
    margin: 0px 0px 15px 0px;
    padding: 4px;
    text-align: center;
    font-size: 0.9em;
}

span {
    font-size: 0.9em;
}

body {
    background: var(--pageBackground);
}

div {
    margin: 50px 0px 10px 0px;
    box-shadow: 0 0 10px var(--shadows);
    border-radius: 10px;
    background-color: var(--cardBackground);
    width: 70%;
    height: auto;
}

section {
    display: flex;
    justify-content: space-around;   
}

p {
    margin: 5px;
    padding: 5px;
}

p.result {
    margin: 0px 0px 5px 30px;
    padding: 5px;
    font-size: 0.8em;
}

article.period {
    margin: 10px 10px 0px 10px;
    box-shadow: 0 0 10px var(--shadows);
    border-radius: 10px;
    background-color: var(--cardBackground);
    padding: 20px 0px 0px 0px;
    text-align: center;
    width: 70%;
    height: auto;
    font-size: 0.7em;
}

article.result {
    margin: 10px 10px 0px 10px;
    box-shadow: 0 0 10px var(--shadows);
    border-radius: 10px;
    background-color: var(--cardBackground);
    padding: 5px;
    text-align: left;
    width: 70%;
    height: auto;
}

select {
    width: 50%;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    font-size: 0.7em;
    color: #bdb4b4;
}

option {
    font-size: 1em;
}

input[type="submit"]{
    width: 75%;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background: #a9ede8;
    font-weight: bold;
    font-size: 1em;
}

input[type="submit"]:hover {
    width: 75%;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-size: 1em;
    background-color: var(--buttonBackground);
}

input[type="checkbox"]{
    margin: 20px;
    padding: 5px;
}

.resultNone {
    margin: 50px 0px 0px 0px;
    text-align: center;
}

/* Web e outros tamanhos */
@media only screen and (min-width: 920px) {

    div {
        margin: 50px 0px 10px 0px;
        box-shadow: 0 0 10px var(--shadows);
        border-radius: 10px;
        background-color: var(--cardBackground);
        width: 70%;
        height: auto;
    }

    h1 {
        margin: 10px 0px 0px 0px;
        padding: 5px;
        text-align: center;
        font-size: 1.6em;
        color: rgb(59, 57, 57);
        
    }
    
    h2 {
        margin: 0px 0px 15px 0px;
        padding: 5px;
        text-align: center;
        font-size: 1.3em;
    }

    h3 {
        margin: 0px 0px 15px 0px;
        padding: 5px;
        text-align: center;
        font-size: 1em;
    }

    span {
        font-size: 1em;
    }

    option {
        font-size: 0.9em;
    }

    p.result {
        margin: 0px 0px 5px 30px;
        padding: 5px;
        font-size: 0.9em;
    }

    p.resultNone {
        margin: 50px 0px 0px 0px;
        padding: 0px;
        text-align: center;
    }

    article.period {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        width: 70%;
        height: auto;
    }

    article.result {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        width: 70%;
        height: auto;
    }

    select {
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        border-style: none;
        color: #bdb4b4;
        font-size: 0.9em;
    }
}